@model ReviewProject.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    
    <h3>@Html.DisplayFor(model => model.Title) - @Html.DisplayFor(model => model.Category.Name)</h3>
    <p>@Html.DisplayFor(model => model.Author)</p>
    <p>@Html.DisplayFor(model => model.Content)</p>
    <p>@Html.DisplayFor(model => model.PublishedDate)</p>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
